# Supabase Configuration
# Dapatkan dari: Supabase Dashboard → Settings → API
VITE_SUPABASE_URL=https://fkmrwtyfqobfrfcakywy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrbXJ3dHlmcW9iZnJmY2FreXd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1MzMzNzIsImV4cCI6MjEwMDEwOTM3Mn0.35puIHmwWZ5rENgLnMdOiekD_a6ud56tMJNbRTN3uxo
